
<% if @users.present?%>
<div class="panel panel-primary">
       <div class="panel-heading">
          <h3 class="panel-title">
            <span class="badge" style="margin-left:40%;">
       </div>
       <div class="panel-body">
          <div class="well">
             <ul class="list-group">
              <h2>All Friends </h2>
			    <p>find  friends page</p>
				<%@users.each do|user|%>
         <li class="list-group-item">
					<%=user.username%> <a href="/send_request/<%=user.id%>" class="btn btn-success btn-xs">Add</a></br></li>
					<%end%>
            </u>
          </div>
      </div>
  </div>
<% else %>
<h4>
</h4>
<%end%>
