
<% if @recieved_requests.present?%>
<div class="panel panel-primary">
       <div class="panel-heading">
          <h3 class="panel-title">
            <span class="badge" style="margin-left:40%;">
       </div>
       <div class="panel-body">
          <div class="well">
             <ul class="list-group">
              <h2>Recieved Friend Requests </h2>
				<%@recieved_requests.each do|request|%>
         <li class="list-group-item">
          <%sender = request.sender%>
					<%=sender.username%> <a href="/accept_request/<%=sender.id%>" class="btn btn-success btn-xs">Confirm</a>
           <a href="/cancel_request/<%=sender.id%>" class="btn btn-success btn-xs">Delete Request</a>
        </br></li>
					<%end%>
            </u>
          </div>
      </div>
  </div>
<% else %>
<h4> No Recieved Request Yet!
</h4>
<%end%>
