
<% if @sent_requests.present?%>
<div class="panel panel-primary">
       <div class="panel-heading">
          <h3 class="panel-title">
            <span class="badge" style="margin-left:40%;">
       </div>
       <div class="panel-body">
          <div class="well">
             <ul class="list-group">
              <h2>Sent Friend Request </h2>
				<%@sent_requests.each do|request|%>
         <li class="list-group-item">
					<%=request.reciever.username %> &nbsp;&nbsp;&nbsp;&nbsp;<a href="/cancel_request/<%=request.reciever.id%>" class="btn btn-danger btn-xs"> Cancel</a></br></li>
					<%end%>
            </u>
          </div>
      </div>
  </div>
<% else %>
<h4>
	NO Sent Request Yet!
</h4>
<%end%>
